<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../../partials/header.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h4>Artigos</h4>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="/admin/articles/new" class="btn btn-sm btn-outline-success">Novo Artigo</a>
            </div>
        </div>
        <hr>
        <table class="table border border-warning w-100">
            <thead class="bg-warning text-dark  border-0">
                <tr>
                    <th class="border-0 w-10">
                        ID
                    </th>
                    <th class="border-0 w-35">
                        Título
                    </th>
                    <th class="border-0 w-35">
                        Slug
                    </th>
                    <th class="border-0">
                        Categoria
                    </th>
                    <th class="border-0">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody class="border-0 bg-dark text-light">
                <% articles.forEach(article => { %>
                    <tr>
                        <td class="col border border-warning w-10">
                            <%= article.id %>
                        </td>
                        <td class="col border border-warning w-35">
                            <%= article.title %>
                        </td>
                        <td class="col border border-warning w-35">
                            <%= article.slug %>
                        </td>
                        <td class="col border border-warning">
                            <%= article.category.title %>
                        </td>
                        <td class="col border border-warning align-middle">
                            <a href="/admin/articles/edit/<%= article.id %>" class="w-100 btn btn-sm btn-outline-warning mr-3">Editar</a>
                            <form action="/articles/delete" method="post" onsubmit="confirmDelete(event)">
                                <input type="hidden" name="id" value="<%= article.id %>"/>
                                <button type="submit" class="btn btn-sm btn-outline-danger w-100 mt-2">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<script>
    const confirmDelete = (event) => {
        event.preventDefault()
        confirm('Deseja realmente deletar este artigo?') ? event.target.submit() : window.location.reload()
    }
</script>
</html>