<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <%- include('./partials/header') %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artigo | <%= article.title %></title>
    </head>
<body>
    <%- include('./partials/homenavbar') %>
    <div class="container mt-5">
        <div class="card border border-warning mb-4">
            <div class="card-header bg-warning text-dark border-0">
                <h3><%= article.title %> | <%= article.category.title %></h3>
            </div>
            <div class="card-body bg-dark border border-warning">
                <p class="card-text"><%- article.body %></p>
            </div>
        </div>
    </div>
</body>
</html>